body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

main {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

section {
	padding: 10px;
}

header {
	padding: 10px 10px 0 10px;
	display: flex;
}

header > section {
	flex: 1;
}

h1 {
	margin: 0;
	text-align: center;
}

code {
	color: cornflowerblue;
}

label,
.desc {
	font-size: 90%;
}

label {
	width: 105px;
	display: inline-block;
}

section#options p {
	margin: 7px 0;
}

section#field {
	padding-top: 0;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

#convertText {
	flex: 1 0 auto;
}

button {
	background: cadetblue;
	align-self: center;
	padding: 5px 20px;
	margin: 10px;
}
